@import url('https://fonts.googleapis.com/css2 family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root{
  --colorWhite: #fff;
  --navyBlue: #0b0d17;
  --lightPurple: #d0d6f9;
  --lineColor: #383B4B;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: var(--colorWhite);
}

/* DeskTop Header Navigation */

nav {
  padding-top: 2.5rem;
  margin-left: 38.125rem;
}

.header-ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  margin: 0;
  padding: 0;
  padding-right: 10rem;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
}

.header-ul li {
  padding: 0 1rem;
  list-style-type: none;
}

.header-ul li a {
  color: var(--colorWhite);
  text-decoration: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 2.8px;
}

/* DeskTop Body */

.destination {
  background-image: url(../images/destination/background-destination-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.moon-container {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.moon {
  width: 27.813rem;
  height: 27.813rem;
}

.destination-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.destination-width {
  width: 27.813rem;
  /* height: 29.5rem; */
}



/* span {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 4.724999904632568px;
  color: var(--colorWhite);
  mix-blend-mode: normal;
opacity: 0.25;
padding-right: 1rem;
  } */

.destination-width h1 {
  font-family: 'Bellefair', sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 115px;
  letter-spacing: 0px;
  margin: 0;
  text-transform: uppercase;
}

.text{
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  color: var(--lightPurple);
}

h3::first-letter {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 4.724999904632568px;
  color: var(--colorWhite);
  mix-blend-mode: normal;
  opacity: 0.25;
  padding-right: 1rem;
}

.destination-flex h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 4.724999904632568px;
  margin-bottom: 6rem;
  text-transform: uppercase;
}

.line {
  height: 2px;
  background-color: var(--lineColor);
}

.distance {
  display: flex;
}

.avg {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 2.362499952316284px;
  color: var(--lightPurple);
  text-transform: uppercase;
  padding-right: 7.813rem;
}

.km {
  font-family: 'Bellefair', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  color: var(--colorWhite);
}

.time {
  padding: 0;
}
