@import url('https://fonts.googleapis.com/css2 family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root{
  --colorWhite: #fff;
  --navyBlue: #0b0d17;
  --lightPurple: #d0d6f9;
  --lineColor: #383B4B;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--colorWhite);
}

.mobile {
  display: none;
}

/* DeskTop Header Navigation */

/* nav {
  padding-top: 3%;
  margin-left: 38.125rem;
}

.header-ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  margin: 0;
  padding: 0;
  padding-right: 10rem;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
}

.header-ul li {
  padding: 0 1rem;
  list-style-type: none;
}

.header-ul li a {
  color: var(--colorWhite);
  text-decoration: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 2.8px;
} */

/* Crew Body */

.crew {
  background-image: url(/src/component/images/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.crew-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pick-crew-container {
  display: flex;
  justify-content: space-evenly;
  width: 46rem;
  margin-top: 3rem;
}

.pick-crew {
  font-family: 'Barlow Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
}

.pick-crew::first-letter {
  opacity: 0.25;
}

.commander {
  font-family: 'Bellefair', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 0;
  margin-bottom: 3%;
}

.commander-name {
  font-family: 'Bellefair', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 6%;
}

.about-commander {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: var(--lightPurple);
  width: 28.063rem;
  margin: 0;
}

.douglas {
  width: 100%;
  height: 35.5rem;
}

@media screen
and (min-device-width: 768px) 
and (max-device-width: 1024px) {

  .crew {
    background-image: url(/src/component/images/crew/background-crew-tablet.jpg);
  }

  .pick-crew-container {
    width: 21rem;
    margin-top: 2rem;
  }

  .pick-crew-container h3 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
    margin-bottom: 0;
  }

  .crew-flex {
    flex-direction: column;
    justify-content: center;
  }

  .commander {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-top: 11%;
  }

  .commander-name {
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 3%;
  }

  .about-commander {
    font-size: 16px;
    line-height: 28px;
    width: 28.625rem;
    text-align: center;
    margin-bottom: 15%;
  }
}

@media screen
and (min-device-width: 375px)
and (max-device-width: 480px) {
  .douglas {
    display: none;
  }

  .crew {
    background-image: url(/src/component/images/crew/background-crew-mobile.jpg);
  }

  .pick-crew-container {
    width: 100%;
  }

  .crew-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pick-crew {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    margin-bottom: 10%;
  }

  .mobile-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
  }

  .mobile {
    display: block;
    width: 11.063rem;
    height: 13.875rem;
  }

  .commander {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .commander-name {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }

  .about-commander {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    width: 20.438rem;
  }

  .crew-line {
    height: 2px;
    background-color: var(--lineColor);
    width: 20.438rem;
  }

  .mobile-bottom {
    margin-bottom: 30%;
  }
}
