/* Carousel */
.carousel-inner {
  display: block;
}

.carousel-control-next, .carousel-control-prev {
  display: none;
}

.carousel-caption {
  /* position: absolute; */
  position: initial;
  padding-top: 0;
  padding-bottom: 0;
}

/* DeskTop Body */

.destination {
  background-image: url(/src/component/images/destination/background-destination-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.moon-container {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.moon {
  width: 27.813rem;
  height: 27.813rem;
}

.destination-width h1 {
  font-family: 'Bellefair', sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 115px;
  letter-spacing: 0px;
  margin: 0;
  text-transform: uppercase;
  text-align: left;
}

.text{
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  color: var(--lightPurple);
  text-align: justify;
  width: 27.75rem;
}

.first-text {
  display: flex;
  justify-content: space-evenly;
  width: 49rem;
  margin-top: 3rem;
}
/* 
.first-text h3::first-letter {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 4.724999904632568px;
  color: var(--colorWhite);
  mix-blend-mode: normal;
  opacity: 0.25;
  padding-right: 1rem;
} */

.first-text-h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 4.724999904632568px;
  text-transform: uppercase;
}

.line {
  height: 2px;
  background-color: var(--lineColor);
}

.distance {
  display: flex;
}

.avg {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 2.362499952316284px;
  color: var(--lightPurple);
  text-transform: uppercase;
  padding-right: 7.813rem;
}

.km {
  font-family: 'Bellefair', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  color: var(--colorWhite);
  text-transform: uppercase;
}

.time {
  padding: 0;
}

@media screen
and (min-device-width: 560px) 
and (max-device-width: 1024px) {
  .destination {
    background-image: url(/src/component/images/destination/background-destination-tablet.jpg);
  }

  .first-text {
    width: 28rem;
    margin-top: 2rem;
  }

  .first-text-h3 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
    margin-bottom: 0;
  }

  /* .first-text h3::first-letter {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  } */

  .mobile-flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .moon {
    width: 18.75rem;
    height: 18.75rem;
  }

  .destination-width h1 {
    font-size: 80px;
    line-height: 92px;
    text-align: center;
    margin-bottom: 2%;
  }

  .destination-width > .text {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    width: 35.813rem;
    margin-bottom: 7%;
  }

  .distance {
    justify-content: space-around;
    margin-bottom: 5%;
  }

  .avg {
    padding-right: 0;
  }

}

/* Mobile View */

@media screen
and (min-device-width: 375px)
and (max-device-width: 559px) {
  .destination {
    background-image: url(/src/component/images/destination/background-destination-mobile.jpg);
  }

  .first-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .first-text-h3 {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-align: center;
    margin-top: 0;
  }

  .mobile-flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .moon-container {
    margin-top: 1rem;
  }

  .moon {
    width: 10.625rem;
    height: 10.625rem;
  }

  .destination-width {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .destination-width h1 {
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    margin-bottom: 1%;
  }

  .destination-width .text {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    width: 20.438rem;
    margin-right: 0;
    margin-bottom: 10%;
  }

  .line {
    width: 20.438rem;
    text-align: center;
    margin-bottom: 7%;
  }

  .distance {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .avg {
    padding: 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2.3625px;
  }

  .km {
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    margin-top: 0;
  }

  .bottom {
    margin-bottom: 20%;
  }

}
